body {
  background: #1a1a1a;
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:visited {
    color: #000; }
  a:link {
    color: #000; }

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed; }

@media screen and (max-width: 768px) {
  body {
    font-size: 14px; } }
.navBar {
  width: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .navBar__logo {
    margin-top: 3px; }
    .navBar__logo img {
      height: 40px;
      margin: auto;
      cursor: pointer; }
  .navBar__headline {
    margin: 3px; }

@media screen and (max-width: 480px) {
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .navBar__logo img {
      height: 35px; }
    .navBar__headline {
      margin: 0 0 3px 0; } }
.sideBar {
  width: 60%;
  margin: 40px auto 10px;
  max-width: 750px;
  min-width: 300px;
  height: auto;
  background-color: #1a1a1a;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sideBar__tab {
    background-color: #FFA02F;
    color: #FFF;
    font-size: .9em;
    padding: 8px;
    margin: 0 0 1px 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .sideBar__tab:hover {
      background-color: #EB3C32; }
    .sideBar__tab.active {
      background-color: #EB3C32;
      margin-bottom: 0;
      cursor: default; }
  .sideBar__article {
    padding: 15px;
    background-color: #FFF;
    border-bottom: solid #1a1a1a 1px;
    display: none; }
    .sideBar__article.active {
      display: block; }
  .sideBar__headline {
    font-size: 1.2em;
    font-weight: bold; }

@media screen and (min-width: 768px) {
  .sideBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .sideBar li:nth-child(even) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .sideBar li:nth-child(odd) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .sideBar__tab {
      margin-right: 1px; } }

/*# sourceMappingURL=styles.css.map */